:root {
   --root-size: 1.2rem;
   --fg-color: #000;
}

body {
   font-size: var(--root-size);
   font-family: system-ui, sans-serif;
}

@media (min-width: 600px) {
   :root {
      --root-size: 1.5rem;
   }
}